apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-deployment
  namespace: notifications
  labels:
    app: notification
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
        - name: notification
          image: 912119905922.dkr.ecr.us-east-1.amazonaws.com/proyecto-notifications:v1.0.1
          ports:
            - containerPort: 8080
          env:
            - name: EMAIL_HOST  # ← Nombre correcto que busca main.py
              valueFrom:
                secretKeyRef:
                  name: smtp-secret
                  key: host
            - name: EMAIL_PORT  # ← Nombre correcto
              valueFrom:
                secretKeyRef:
                  name: smtp-secret
                  key: port
            - name: EMAIL_HOST_USER  # ← Nombre correcto
              valueFrom:
                secretKeyRef:
                  name: smtp-secret
                  key: user
            - name: EMAIL_HOST_PASSWORD  # ← Nombre correcto
              valueFrom:
                secretKeyRef:
                  name: smtp-secret
                  key: password
            - name: DEFAULT_FROM_EMAIL
              valueFrom:
                configMapKeyRef:
                  name: notification-config
                  key: default_from
            - name: EMAIL_USE_TLS
              value: "True"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"